# Modelo de Examen Practico - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).

## importaciones

In [139]:
import pandas as pd
import numpy as np
import sqlite3

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de las calificaciones en un DataFrame, que es la estructura de datos fundamental para el análisis con Pandas.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. Esto incluye mostrar las primeras filas, obtener un resumen de la información del DataFrame (tipos de datos, valores no nulos), y calcular estadísticas descriptivas de las columnas numéricas.

### 3. Limpieza y Normalización de los Datos

Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes, la inconsistencia en el formato de la columna 'Asistencia', los posibles valores atípicos y la normalización de los nombres de estudiantes y materias a un formato consistente (por ejemplo, capitalización).

### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos. También se pueden calcular estadísticas específicas por grupo (por ejemplo, promedio de calificaciones por materia).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear visualizaciones que permitan comprender mejor la distribución de las calificaciones y la asistencia. Se generarán histogramas, diagramas de dispersión y gráficos de barras.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Esto permite almacenar los datos de forma estructurada para su posterior consulta y uso.

### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de las calificaciones en un DataFrame, que es la estructura de datos fundamental para el análisis con Pandas.

In [140]:
df=pd.read_csv("datasets_calificaciones.csv", index_col=False)

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. Esto incluye mostrar las primeras filas, obtener un resumen de la información del DataFrame (tipos de datos, valores no nulos), y calcular estadísticas descriptivas de las columnas numéricas.

## Visualizamos los datos (columnas)

In [141]:
print("Tipo de datos en las columnas:")
df.info()

Tipo de datos en las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   95 non-null     object
 3   Parcial 2   90 non-null     object
 4   Final       89 non-null     object
 5   Asistencia  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

## Vemos la cantidad de datos nulos (si es que los hay)

In [142]:
print("Valores nulos: ")
df.isnull().sum()

Valores nulos:

estudiante     0
Materia        0
Parcial 1      5
Parcial 2     10
Final         11
Asistencia     0
dtype: int64

# Punto 3

### Conversacion de datos, pasaremos los datos de las columnas Parcial 1 y 2, tambien la de final a numericos. Cualquier datos que no es numero pasara a ser NaN y facilitara realizar actividades estadísticas.

In [143]:
df["Parcial 1"]=pd.to_numeric(df["Parcial 1"], errors='coerce')
df["Parcial 2"]=pd.to_numeric(df["Parcial 2"], errors='coerce')
df["Final"]=pd.to_numeric(df["Final"], errors='coerce')
df

         estudiante      Materia  Parcial 1  Parcial 2  Final Asistencia
0         ana pérez  matematicas        8.0        7.5    9.0        95%
1      carlos lópez       fisica        6.2        7.0    NaN        88%
2       maría gómez      quimica        9.0        8.8    9.5       100%
3   pedro rodríguez     historia        7.5        6.0    7.0         75
4      laura vargas  matematicas        NaN        9.2    8.5        92%
..              ...          ...        ...        ...    ...        ...
95  josefina torres     historia        7.4        6.8    7.2        81%
96  bautista vargas  matematicas        8.7        NaN    8.5        92%
97        emma soto       fisica        6.6        7.0    6.4        83%
98       mateo díaz      quimica        9.5        9.7    NaN        98%
99  sofía fernández     historia        7.1        7.6    7.5        87%

[100 rows x 6 columns]

# Ahora convertiremos los valores nulos con la media de cada una de ellas
### Tambien redondearemos a un solo decimas

In [144]:
df["Parcial 1"]=df["Parcial 1"].fillna(df["Parcial 1"].mean()).round(1)
df["Parcial 2"]=df["Parcial 2"].fillna(df["Parcial 2"].mean()).round(1)
df["Final"]=df["Final"].fillna(df["Final"].mean()).round(1)
df

         estudiante      Materia  Parcial 1  Parcial 2  Final Asistencia
0         ana pérez  matematicas        8.0        7.5    9.0        95%
1      carlos lópez       fisica        6.2        7.0    7.9        88%
2       maría gómez      quimica        9.0        8.8    9.5       100%
3   pedro rodríguez     historia        7.5        6.0    7.0         75
4      laura vargas  matematicas        7.8        9.2    8.5        92%
..              ...          ...        ...        ...    ...        ...
95  josefina torres     historia        7.4        6.8    7.2        81%
96  bautista vargas  matematicas        8.7        7.8    8.5        92%
97        emma soto       fisica        6.6        7.0    6.4        83%
98       mateo díaz      quimica        9.5        9.7    7.9        98%
99  sofía fernández     historia        7.1        7.6    7.5        87%

[100 rows x 6 columns]

### Verificamos los valores nulos

In [153]:
df.isnull().sum()

estudiante    0
Materia       0
Parcial 1     0
Parcial 2     0
Final         0
Asistencia    0
dtype: int64

### Ahora convertiremos los valores de la columna asistencia a enteros y eliminaremos el "%". Para luego agregarlos a todos los numeros nuevamente
### Tambien limitaremos los valores a 100 porque hay algunos que lo superan y es ilogico

In [162]:
df["Asistencia"]=df["Asistencia"].str.replace("%", "").astype(int)
# df["Asistencia"] = df["Asistencia"].str.replace("%", "").astype(int)
df["Asistencia"]=df["Asistencia"].clip(100, upper=True).astype(str) + "%"
df

         estudiante      Materia  Parcial 1  Parcial 2  Final Asistencia
0         ana pérez  matematicas        8.0        7.5    9.0        95%
1      carlos lópez       fisica        6.2        7.0    7.9        88%
2       maría gómez      quimica        9.0        8.8    9.5       100%
3   pedro rodríguez     historia        7.5        6.0    7.0        75%
4      laura vargas  matematicas        7.8        9.2    8.5        92%
..              ...          ...        ...        ...    ...        ...
95  josefina torres     historia        7.4        6.8    7.2        81%
96  bautista vargas  matematicas        8.7        7.8    8.5        92%
97        emma soto       fisica        6.6        7.0    6.4        83%
98       mateo díaz      quimica        9.5        9.7    7.9        98%
99  sofía fernández     historia        7.1        7.6    7.5        87%

[100 rows x 6 columns]